.select.resizable > .resizable-handle {
  display: block;
}

.resizable-handle {
  color: red;
  // background-color: lightgray;
  box-sizing: border-box;
  // border: 2px solid black;
  position: absolute;
  display: none;
  right: 5px;
  bottom: 0;
  cursor: nwse-resize;
}